body {
  font-family: 'Spinnaker', sans-serif;
  color: #0B0B0B;
}

.nice-box {
  border: 1px solid lightCyan;
  padding: 5px;
  background-color: #F1FFFF;
  border-radius: 5px;
  color: #306060;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(255,255,255)),
      color-stop(0.68, rgb(224,255,255))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(255,255,255) 0%,
      rgb(224,255,255) 68%
  );
  min-height: 3em;
}

h1 {
  font-family: Charcoal, Century Gothic, Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 182%; /* 24 pt */
  font-weight: bold;
  font-variant: small-caps;
}

.status-text {
  min-height: 1.5em;
  position: relative;
}

.status-text div {
  position: relative;
}
